#logo 
{
	font-size:2em;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:-.05em;
	color:#003300;
}

body
{
	background:#DDD;
}

body a {
	color:#999;
	text-decoration:none;
}

#container 
{
	text-align:left;
}

.box {
	padding:1em;
	background:#FFF;
	border:1px solid #CCC;
	box-shadow: 1px 1px 1px #AAA;
}

.small-box {

}

.completed 
{
	color:#336633;
}

.pending {
	color:#AAA;
}

.not-found {
	color:#C00;
}

.float-right {
	float:right;
}

.align-right {
	text-align:right;
}

.align-left {
	text-align:left;
}

.align-center {
	text-align:center;
}

#topNotice {
	border:0;
	width:50%;
	margin:auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	background:#99CC99;
}

.nav ul {
	padding:0;
	margin:0;
	float:right;
}

.nav ul li {
	display:inline;
	padding:5px;
}

li.project
{
	clear:both;
}

#projects li 
{
	padding:.2em;
	list-style:none;
	border-bottom:1px dotted #EEE;
}

#projects li:hover {
	background:#FFE;
}

#projects li ul
{
	margin-left:25em;
}

#projects li ul li 
{
	margin-top:-3em;
	width:17em;
	display:block;
	float:left;
	border:none;
}