#logo 
{
	font-size:2em;
	text-align:left;
	text-transform:uppercase;
	letter-spacing:-.05em;
	color:#003300;
}

body
{
	background:#DDD;
}

body a {
	color:#999;
	text-decoration:none;
}

#container 
{
	text-align:left;
}

.box {
	padding:1em;
	background:#FFF;
	border:1px solid #CCC;
	box-shadow: 1px 1px 1px #AAA;
}

.small-box {

}

.project-row {
	border-top:1px dotted #AAA;
	padding:2px 0 0 0;
}

.project-row:hover {
	background:#FFFFCC;
}

.completed 
{
	color:#336633;
}

.pending {
	color:#AAA;
}

.not-found {
	color:#C00;
}

.align-right {
	text-align:right;
}

.align-left {
	text-align:left;
}

.align-center {
	text-align:center;
}

#topNotice {
	border:0;
	width:50%;
	margin:auto;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.nav ul {
	padding:0;
	margin:0 1em .5em 2em;
	float:right;
}

.nav ul li {
	display:inline;
	padding:5px;
}