<div class="box">
<% @projects.each do |project| %>

	<div>
		<div class="span-30">
			<strong>
				<%= link_to(project.name,'https://ibethel.basecamphq.com/projects/' + project.id.to_s) %>
			</strong>
		</div>
		<div class="span-30 prepend-1"><%= project.announcement %></div>
		<br class="clear" />
	</div>
	
<% end %>
</div>